@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.pokeApiPhoto{
 width: 100px;
 position: absolute;
 bottom: -20px;
}

.pokemonphoto{
  margin-left: 20px;
}

.redondelPokemon{
  width: 5px;
  background-color: rgb(248, 44, 44);
  border-radius: 100px;
}

.cardbody{
  width: 200px;
  height: 280px;
  padding: 30px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);
  border: 1px solid red;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}

.cardbody:hover{
  background-color: rgb(248, 44, 44);
  color: white;
  margin-top: 5px;
  transition-duration: 500ms;
  
}


.cardbodySearch{
  width: 300px;
  height: 330px;
  padding: 30px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);
  border: 1px solid red;
  cursor: pointer;
  
  font-family: 'Ubuntu', sans-serif;
  
}

.cardbodySearch:hover{
  background-color: rgb(248, 44, 44);
  color: white; 
  transition-duration: 500ms;
  
}

.divInput{
  margin-right: 400px;
}

.titulo{
  font-family: 'Bebas Neue', cursive;
}

@media all and (min-width: 360px) and (max-width: 640px)  {

  .cardQueries{
  margin-left: 60px;
  
  }

  .titulo{
    font-size: 50px;
  }



}

@media all and (min-width: 411px) and (max-width: 731px)  {

  .cardQueries{
  margin-left: 80px;
  
  }

  .titulo{
    font-size: 50px;
  }



}


@media all and (min-width: 768px) and (max-width: 1024px)  {


  .titulo{
    font-size: 50px;
  }



}