@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.botonEnviar{
  margin-left: 340px;
}

.pokeApiPhoto{
 width: 100px;
 position: absolute;
 bottom: -20px;
}

.pokemonphoto{
  margin-left: 20px;
}

.redondelPokemon{
  width: 5px;
  background-color: rgb(248, 44, 44);
  border-radius: 100px;
 
}

.cardbody{
  width: 200px;
  height: 280px;
  padding: 30px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);
  border: 1px solid red;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
}


.cardbody:hover{
  background-color: rgb(248, 44, 44);
  color: white;
  
}


.cardbodySearch{
  width: 500px;
  height: 300px;
  padding: 30px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 5px 5px rgb(182, 182, 182);
  border: 1px solid red;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  
}